.generalInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;

    form{
        display: flex;
        flex-direction: column;
        gap: 5px;

        input{
            border: none;
            background-color: #8080804f;
            border-radius: 5px;
            padding: 10px;
            font-size: 15px;
        }
    }
}